* {
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    max-width: 1320px;
    margin: 0 auto;
}

.container .box {
    height: 100%;
    padding: 1.5rem;
}

.container .box .quiz_box {
    margin-top: 3rem;
    width: 100%;
    height: 720px;
    border-radius: 20px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.container .box .quiz_box .top {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ddd;
    background: #212212;
}

.container .box .quiz_box .top .wrap {
    padding: 1rem 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .box .quiz_box .top .wrap .c_box {
    gap: .6rem;
    display: flex;
    align-items: center;
}

.container .box .quiz_box .top .wrap .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.container .box .quiz_box .top .wrap .circle:nth-child(1) {background: tomato;}
.container .box .quiz_box .top .wrap .circle:nth-child(2) {background: royalblue;}
.container .box .quiz_box .top .wrap .circle:nth-child(3) {background: #ffb45b;}

.container .box .quiz_box .top .wrap .quiz_btn {
    padding: .5rem 1rem;
    border-radius: 10px;
    transition: .3s;
    font-weight: 500;
    cursor: pointer;
    background: #50C878;
}

.container .box .quiz_box .middle {
    padding: 1rem 2rem;
    height: 100%:
    gap: 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.container .box .quiz_box .middle .item {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.container .box .quiz_box .middle .title {
    font-size: 30px;
    font-weight: 500;
}

.container .box .quiz_box .middle input {
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    transition: .3s;
    border: 1px solid #ddd;
    outline: none;
}
.container .box .quiz_box .middle input:focus {border: 1px solid #50C878;}

.btn {
    padding: .5rem 1rem;
    border-radius: 5px;
    width: 80px;
    transition: .3s;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    background: #50C878;

}
